<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="Dao">
 
    <!-- 整体新增 -->
    <insert id="add" parameterType="hashmap"  useGeneratedKeys="true" keyProperty="id">
        ${__SQL}
    </insert>
    
    <!-- 根据ID查询单个 -->
    <select id="getById" resultType="hashmap">
        ${__SQL}
    </select>
    
    <!-- 根据ID查询单个字段 -->
    <select id="getFieldById" resultType="hashmap">
        ${__SQL}
    </select>
    
    <!-- 根据条件查询单个 -->
    <select id="getByParm" resultType="hashmap">
        ${__SQL}
    </select>
    
    <!-- 根据条件查询单个字段 -->
    <select id="getFieldByParm" resultType="hashmap">
        ${__SQL}
    </select>
    
    <!-- 条件查询列表 -->
    <select id="selectList" resultType="hashmap">
        ${__SQL}
    </select>
    
    <!-- 条件查询字段列表 -->
    <select id="selectListField" resultType="hashmap">
        ${__SQL}
    </select>
    
   	<!-- 更新局部 -->
    <update id="updateLocal">${__SQL}</update>
    
    <!-- 更新全部 -->
    <update id="update" parameterType="hashmap">${__SQL}</update>
    
    <!-- 条件更新局部 -->
    <update id="updateLocalByPram">${__SQL}</update>
    
    <!-- 条件更新全部 -->
    <update id="updateByPram">${__SQL}</update>
    
 
    <!-- 根据ID删除 -->
    <delete id="deleteById" parameterType="hashmap">
        ${__SQL}
    </delete>
 
    <!-- 批量删除 -->
    <delete id="deleteByparm">
        ${__SQL}
    </delete>
    
    <!-- 自定义语句查询 -->
    <select id="selectBySql" resultType="hashmap">
        ${__SQL}
    </select>
    
    
    <!-- 查询符合条件的数量 -->
    <select id="selectCountByParm" resultType="int">
        ${__SQL}
    </select>
 
 
    <!-- 查询总数量 -->
    <select id="selectCount" resultType="int">
        ${__SQL}
    </select>
    
      <!-- 查询总数量 -->
    <select id="deleteByIds" resultType="int"  parameterType="hashmap">
        ${__SQL}
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">   
            #{item}
         </foreach>
    </select>
     
    <!-- 获取下一个序列的值 -->
    <select id="fetchSeqNextval" resultType="int" flushCache="true">
        ${__SQL}
    </select>
</mapper>
